In [12]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [13]:
data = pd.read_csv('water_potability.csv')

In [14]:
X = data.drop('Potability',axis=1)
y = data['Potability']

In [15]:
clf = RandomForestClassifier()

In [16]:
parametros = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 5, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['sqrt', 'log2']
}

In [17]:
grid = GridSearchCV(estimator = clf,
                    param_grid = parametros,
                    scoring = 'f1',
                    cv = 5)

In [18]:
# Treinando o grid.
grid.fit(X, y)

# Imprimindo os resultados.
pd.DataFrame(grid.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_depth,param_max_features,param_min_samples_leaf,param_min_samples_split,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.711752,0.017022,0.012245,0.000109,None,sqrt,1,2,100,"{'max_depth': None, 'max_features': 'sqrt', 'm...",0.395062,0.368000,0.410000,0.337531,0.478803,0.397879,0.047409,25
1,1.419334,0.018230,0.021559,0.000254,None,sqrt,1,2,200,"{'max_depth': None, 'max_features': 'sqrt', 'm...",0.375000,0.355795,0.407960,0.364090,0.476427,0.395854,0.044016,40
2,2.208364,0.125751,0.031823,0.000920,None,sqrt,1,2,300,"{'max_depth': None, 'max_features': 'sqrt', 'm...",0.348485,0.373984,0.452088,0.366337,0.478372,0.403853,0.051468,8
3,0.736836,0.020279,0.012740,0.000571,None,sqrt,1,5,100,"{'max_depth': None, 'max_features': 'sqrt', 'm...",0.372881,0.385417,0.425000,0.377451,0.489104,0.409971,0.043644,1
4,1.503105,0.031449,0.022438,0.001410,None,sqrt,1,5,200,"{'max_depth': None, 'max_features': 'sqrt', 'm...",0.361809,0.354223,0.412371,0.372549,0.479592,0.396109,0.046303,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,1.296020,0.022067,0.020631,0.001380,20,log2,4,5,200,"{'max_depth': 20, 'max_features': 'log2', 'min...",0.317460,0.349296,0.455696,0.321900,0.460733,0.381017,0.063988,93
212,1.946333,0.027313,0.027828,0.001159,20,log2,4,5,300,"{'max_depth': 20, 'max_features': 'log2', 'min...",0.332454,0.357542,0.414322,0.337731,0.454308,0.379271,0.047432,98
213,0.658292,0.013951,0.011168,0.000586,20,log2,4,10,100,"{'max_depth': 20, 'max_features': 'log2', 'min...",0.335958,0.345404,0.416244,0.349127,0.445596,0.378466,0.044033,99
214,1.276998,0.031826,0.019661,0.001329,20,log2,4,10,200,"{'max_depth': 20, 'max_features': 'log2', 'min...",0.341969,0.363128,0.422164,0.322751,0.446809,0.379364,0.047429,97
215,1.952158,0.027259,0.027853,0.001377,20,log2,4,10,300,"{'max_depth': 20, 'max_features': 'log2', 'min...",0.331579,0.322767,0.406250,0.342857,0.460733,0.372837,0.052821,106

In [19]:
# Imprime colunas de interesse.
pd.DataFrame(grid.cv_results_)[['params','rank_test_score','mean_test_score']]

,params,rank_test_score,mean_test_score
0,"{'max_depth': None, 'max_features': 'sqrt', 'm...",25,0.397879
1,"{'max_depth': None, 'max_features': 'sqrt', 'm...",40,0.395854
2,"{'max_depth': None, 'max_features': 'sqrt', 'm...",8,0.403853
3,"{'max_depth': None, 'max_features': 'sqrt', 'm...",1,0.409971
4,"{'max_depth': None, 'max_features': 'sqrt', 'm...",36,0.396109
...,...,...,...
211,"{'max_depth': 20, 'max_features': 'log2', 'min...",93,0.381017
212,"{'max_depth': 20, 'max_features': 'log2', 'min...",98,0.379271
213,"{'max_depth': 20, 'max_features': 'log2', 'min...",99,0.378466
214,"{'max_depth': 20, 'max_features': 'log2', 'min...",97,0.379364
215,"{'max_depth': 20, 'max_features': 'log2', 'min...",106,0.372837

In [20]:
# Imprime os parâmetros que produziram o ".best_score_".
grid.best_params_

{'max_depth': None,
 'max_features': 'sqrt',
 'min_samples_leaf': 1,
 'min_samples_split': 5,
 'n_estimators': 100}

In [21]:
# Imprimindo o score.
print(grid.best_score_)

0.4099706238427574